/* Section Header */
.section-header {
  margin-top: 142px;
  position: relative;
}

.section-header .container {
  display: flex;
  align-items: center;
}

.section-header .section-header__desc {
  font-size: var(--text-sm);
  font-weight: 300;
  width: 561px;
}

.section-header .heading-section-header {
  width: 646px;
  font-weight: 400;
  margin: 19px 0 4px 0;
}

.section-header .section-header__tag-line {
  color: var(--primary-darken);
  font-weight: 500;
}

.section-header .section-header-buttons {
  display: flex;
  margin-top: 32px;
  align-items: center;
}

.section-header .section-header-buttons button {
  margin-right: 30px;
}

.section-header-buttons .see-product {
  color: var(--black);
}

.section-header .section-header__blur-circle--center {
  top: 181px;
  left: calc(50% - 200px);
}

.section-header .section-header__blur-circle--left {
  top: 123px;
  left: -77px;
}

.section-header .section-header__blur-circle--right {
  top: 117px;
  right: 123px;
}

@media screen and (max-width: 1335px) {
  .section-header .heading-section-header,
  .section-header .section-header__desc {
    width: 100%;
  }
}

/* Section Header */

/* Products Section */

.section-products {
  margin-top: 131px;
  position: relative;
}

.section-products .section-products__title {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.02em;
  text-align: center;
}

.section-products .section-products__blur-circle--left {
  top: 180px;
  left: 6px;
}

.section-products .section-products__blur-circle--center {
  top: -25px;
  right: 371px;
}

.section-products .products {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
}

.section-products .card-product {
  display: flex;
  flex-direction: column;
}

.section-products .card-product:not(:last-child) {
  margin-right: 56px;
}

.section-products .card-product .card-product__thumbnail {
  width: 295px;
  height: 348px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.section-products .card-product .card-product__thumbnail img {
  transform: translateZ(30px);
  width: 100px;
  height: 302px;
}

.section-products .card-product .card-product__thumbnail::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 45px;
  display: block;
  background: var(--primary);
  box-shadow: 0px 22px 52px rgba(255, 212, 228, 0.25);
  border-radius: 214px 214px 10px 10px;
  z-index: -1;
}

.section-products .card-product .card-product__detail {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Products Section */

/* Benefits Section */
.section-benefits {
  margin-top: 180px;
  position: relative;
}

.section-benefits .container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.section-benefits .section-benefits__title-wrapper {
  flex: 1;
}

.section-benefits .section-benefits__title-wrapper img {
  margin-top: 26px;
}

.section-benefits .section-benefits__title {
  display: flex;
  flex-direction: column;
}

.section-benefits .section-benefits__title span {
  font-size: 60px;
  line-height: 72px;
  font-weight: 400;
  width: max-content;
}

.section-benefits .section-benefits__title span:last-child {
  align-self: flex-end;
}

.section-benefits .hero {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
}

.section-benefits .hero img {
  position: relative;
  top: -55px;
}

.section-benefits .hero::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background: url('../assets/images/serum-benefits-bg.png') no-repeat;
  background-size: contain;
  z-index: -1;
}

.section-benefits .section-benefits__list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.section-benefits .section-benefits__list .benefit-list {
  border-bottom: 1px solid #ffd4e4;
  padding-bottom: 19.5px;
}

.section-benefits .section-benefits__list .benefit-list:not(:last-child) {
  margin-bottom: 45px;
}

.section-benefits .section-benefits__list .benefit-list .benefit-list__title {
  line-height: 28px;
  font-size: 22px;
  color: var(--black);
  font-weight: 500;
}

.section-benefits .section-benefits__list .benefit-list p {
  font-size: var(--text-lg);
  line-height: 28px;
  margin-top: 16px;
}

.section-benefits .section-benefits__blur-circle--center {
  left: calc(50% - 248px);
  bottom: 0;
}
/* Benefits Section */

/* Faq Section */

.section-faq {
  margin-top: 171.5px;
  position: relative;
}

.section-faq .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-faq .section-faq__title {
  font-size: 48px;
  line-height: 28px;
}

.section-faq .section-faq__list-wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.section-faq .section-faq__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  font-weight: 300;
}

.section-faq .section-faq__list:not(:last-child) {
  margin-bottom: 40px;
}

.section-faq .section-faq__blur-circle--center {
  right: 337px;
  top: 0;
}
.hero {
  width: 100%;
}

/* Section Testimonial */

.section-testimonials {
  display: none;
}

/* Faq Section */
@media only screen and (max-width: 1024px) {
  .section .container {
    max-width: 1336px;
    padding: 0 30px;
    margin: auto;
  }
  h1.heading {
    letter-spacing: 0.05em;
    line-height: 74px;
    font-size: 55px;
  }
  .section-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .section-products .products {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .section-benefits .container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-direction: column;
  }

  .section-faq .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .section-products .container {
    max-width: 1336px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .section-products .products {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .section-products .section-products__title {
    font-size: 30px;
    line-height: 58px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .section-products .card-product:not(:last-child) {
    margin-right: 20px;
  }

  .section-products .card-product .card-product__thumbnail {
    width: 200px;
    height: 348px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
  }
  .section-benefits .section-benefits__title span {
    font-size: 48px;
    line-height: 36px;
    font-weight: 400;
    width: max-content;
  }

  .section-faq .section-faq__title {
    font-size: 40px;
    line-height: 50px;
  }
  .section-faq {
    margin-top: 80px;
    position: relative;
  }

  /* Section Testimonial */

  .section-testimonials {
    display: block;
    position: relative;
    margin-top: 230px;
  }

  .section-testimonials .section-testimonials__title {
    font-size: 60px;
    line-height: 72px;
  }

  .section-testimonials .swiper {
    margin-top: 54px;
    box-shadow: 0px 22px 52px rgba(255, 212, 228, 0.25);
    border-radius: 200px 200px 10px 10px;
    background: var(--primary);
    height: 400px;
    overflow: visible;
    position: relative;
    max-width: 400px;
  }

  .section-testimonials .swiper .swiper-wrapper {
    position: relative;
  }

  .section-testimonials .swiper .swiper-slide {
  }

  .section-testimonials .swiper .swiper-slide.testimonial-slide {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
  }

  .section-testimonials .swiper .swiper-slide.testimonial-slide.active {
    opacity: 1;
    transition: 0.5s;
  }

  .section-testimonials .swiper .swiper-slide .testimonials {
    background: white;
    width: max-content;
    box-shadow: 0px 38px 108px rgba(0, 0, 0, 0.04);
    border-radius: 126px 0px 128.5px;
    padding: 58px 111px 57px 80px;
  }

  .section-testimonials
    .swiper
    .swiper-slide
    .testimonials
    .testimonials__title {
    font-size: 28px;
    line-height: 42px;
    letter-spacing: -0.03em;
    color: var(--primary-darken);
    margin-bottom: 22px;
  }

  .section-testimonials .swiper .swiper-slide .testimonials p {
    width: 401px;
  }

  .section-testimonials .swiper .testimonial-profile {
    border-radius: 200px;
    width: max-content;
    height: 590px;
    padding: 20px;
    top: -110px;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-testimonials .swiper .testimonial-profile .testimonial-profile__img {
    border-radius: 200px 200px 14px 156.5px;
    object-fit: cover;
    width: 60%;
    height: 90%;
  }

  .section-testimonials
    .swiper
    .testimonial-profile
    .testimonial-profile__detail {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .section-testimonials
    .swiper
    .testimonial-profile
    .testimonial-profile__detail
    span {
    font-size: 26px;
    line-height: 39px;
    letter-spacing: -0.03em;
    color: #000000;
  }

  .section-testimonials
    .swiper
    .testimonial-profile
    .testimonial-profile__detail
    .ratings {
    margin-top: 16px;
    color: #fec045;
  }

  .section-testimonials .swiper .next-prev-wrapper {
    position: absolute;
    bottom: 26px;
    left: 80px;
    display: flex;
    height: max-content;
    width: 154px;
    height: 63px;
  }

  .section-testimonials .swiper .swiper-button-prev,
  .section-testimonials .swiper .swiper-button-next {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-testimonials .swiper .swiper-button-prev {
    order: 1;
  }

  .section-testimonials .swiper .swiper-button-next {
    order: 2;
  }

  .section-testimonials .swiper .swiper-button-prev::after,
  .section-testimonials .swiper .swiper-button-next::after {
    font-size: 24px;
  }
}
